---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { useTranslations, getLangFromUrl } from "../i18n/utils";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!doctype html>
<html lang={lang}>
  <head>
    <BaseHead title={title} description={description} />
    <style>
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
      main {
        flex-grow: 1;
        max-width: 960px;
        margin: auto;
        padding: 1.5rem;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
